{% extends 'base.html' %}

{% load custom_filters %}
{% load static %}


{% block content %}
<!--↑ ↓ → -->
<div class="calendar-page-container">
    <div id="app" class="calendar-left-container">
        <script>
            const staticPath = "{% static 'assets/icons/calendar.png' %}";
            document.getElementById("app").innerHTML = `
            <header>
                <div class="calendar-header-container">
                    <div class="calendar-left-header-container">
                        <button class="btn-calendar">
                            <h3>Today</h3>
                        </button>
                        <div class="seek-buttons-container">
                            <button id="previous-month-seek" class="btn-seek">
                                <h4>←<h4>
                            </button>
                            <button id="next-month-seek" class="btn-seek">
                                <h4>→<h4>
                            </button>
                        </div>
                        <div style="display: flex; align-items: center;">
                            <button id="btn-toggle-date-search" class="btn-toggle-date-search" onclick="toggleDateSearchForm()">
                                <h3 id="selected-month" style="text-decoration: underline; margin: 0; padding: 0; font-size: 18px; font-weight: 400;">
                                    
                                </h3>
                            </button>
                        </div>
                        <form id="date-search-form" class="date-search-form">
                            <input date-form="search" type="text" id="search" name="search">

                            </input>
                            <button date-form="calendar" id="calendar" name="calendar">
                                <img class="icon-image" src="${staticPath}"></img>
                            </button>
                        </form>
                    </div>
                    <div class="calendar-right-header-container">
                        <div class="view-buttons-container">
                            <button id="week" calendar-tab="week" onclick="toggleCalendarType('week')" class="btn-calendar btn-calendar-left">
                                Week
                            </button>
                            <button id="month" calendar-tab="month" onclick="toggleCalendarType('month')" class="btn-calendar calendar-tab-active">
                                Month
                            </button>
                            <button id="agenda" calendar-tab="agenda" onclick="toggleCalendarType('agenda')" class="btn-calendar btn-calendar-right">
                                Agenda
                            </button>
                        </div>
                        <button class="btn-calendar btn-plus">
                            <h2>+</h2>
                        </button>
                        
                    </div>
                </div>
                <hr>
            </header>
            <div id="calendarheader" class="calendar-grid-header-container">
            </div>
            <div id="mycalendar" class="calendar-grid-container">
            </div>
            `;

            document.getElementById('overlay').addEventListener('click', toggleCalendarEventScheduler);
       
        </script>
        <script src="{% static 'js/index-bundle.js' %}"></script>

        {% for event in scheduled_events %}
            <div class="scheduled-event">
                <h4>{{event.title}}</h4>
                <h4 id="scheduled-event-date">{{event.date}}</h4>
            </div>
        {% endfor %}


        <script>
            const grid = document.getElementById('mycalendar');
            grid.addEventListener('click', getCellClicked);
        </script>

        <div id="calendar-event-popup" class="calendar-event-popup">
            <div class="calendar-event-content-container">
                <div class="event-header"><h3 style="line-height: 3; font-weight: 400;">Edit Event</h3></div>
                <div class="event-type-tab-container">
                    <button id="btn-myevent" class="event-tablinks active" onclick="toggleEventTypeTab('myevent')">Event</button>
                    <button id="btn-mytodo" class="event-tablinks" onclick="toggleEventTypeTab('mytodo')">My To Do</button>
                </div>

                {% include 'home/snippets/calendar_event_form_snippet.html' %}
               
                <form id="mytodo" event-type-tab="mytodo" class="calendar-todo-form">
                    <div class="todo-field-container">
                        <label for="event-title"><h5>Title:</h5></label><br>
                        <input type="text" id="event-title" name="event-title" placeholder="Input Event Title..."><br>
                    </div>
                    <div class="todo-field-container">
                        <label for="event-title"><h5>Date:</h5></label><br>
                        <input type="text" id="event-date" name="event-date" value="" placeholder=""><br>
                    </div>
                    <div class="todo-field-container">
                        <label for="event-title"><h5>Time:</h5></label><br>
                        <input type="text" id="event-date" name="event-date" value="" placeholder=""><br>
                    </div>
                    <div class="todo-field-container">
                        <label for="event-title"><h5>Calendar:</h5></label><br>
                        <select style="height: 36px; background-color: #fff; border: solid 1px rgb(200,200,200); border-radius: 5px;" id="event-calendar" name="event-calendar">
                            <option value="user">{{request.user}}</option>
                        </select><br>
                    </div>
                    <div class="todo-field-container">
                        <label for="event-title"><h5>Details:</h5></label><br>
                        <textarea id="todo-details" name="todo-details" rows="" cols=""></textarea>
                    </div>
                    <div class="calendar-event-buttons-container">
                        <input class="btn-more-options" type="button" value="More Options">
                        <input class="btn-submit" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>

        <script>
            {% comment %} const calendarEventForm = document.getElementById('calendar-event-form'); {% endcomment %}
            const calendarPopup = document.getElementById('calendar-event-popup');
            const fromInput = document.getElementById('id_from_time');
            const toInput = document.getElementById('id_to_time');
            const fromTimeDD = document.getElementById('id_from_time-dd');
            const toTimeDD = document.getElementById('id_to_time-dd');
            fromInput.addEventListener('focus', function() {
                toggleInputDropdown(fromInput);
            });
            toInput.addEventListener('focus', function() {
                toggleInputDropdown(toInput);
            });
            fromInput.addEventListener('blur', function() {
                toggleInputDropdown(fromInput);
            });
            toInput.addEventListener('blur', function() {
                toggleInputDropdown(toInput);
            });
            {% comment %} calendarEventForm.addEventListener('post', function() {
                handleClientSideFormSubmission();
            }) {% endcomment %}

            fillTimeDD();
            displayEventsOnCalendar();

            fromTimeDD.addEventListener('mousedown', function(event) {
                // const clickedListItem = event.target.closest(".time-dd");
                if (event.target.tagName === 'LI') {
                  // Get the text content of the clicked list item
                  var clickedItemText = event.target.textContent;
                  
                  fromInput.value = clickedItemText;
                  // Display the clicked item in the console (you can perform any other action here)
                  console.log('Clicked item: ' + clickedItemText);
                }
            });

            toTimeDD.addEventListener('mousedown', function(event) {
                // const clickedListItem = event.target.closest(".time-dd");
                if (event.target.tagName === 'LI') {
                  // Get the text content of the clicked list item
                  var clickedItemText = event.target.textContent;
                  toInput.value = clickedItemText;
                  
                  // Display the clicked item in the console (you can perform any other action here)
                  console.log('Clicked item: ' + clickedItemText);
                }
            });
            
        </script>
    
    </div>
    
    <div class="calendar-right-container">
        
        <div class="mini-calendar-container">
            <div class="mini-calendar-seek-container">
                <button style="background-color: transparent; border: none;">
                    <h2><b>&lt;</b></h2>
                </button>
                <h4 style="color: rgb(53,53,53);"><b>Month Year</b></h4>
                <button style="background-color: transparent; border: none;">
                    <h2><b>&gt;</b></h2>
                </button>
            </div>
            <div class="mini-calendar-grid-container">
                {% for i in 35|get_range %}
                <div class="mini-calendar-grid-item">
                    <h4 style="font-weight: 400;">{{i}}</h4>
                </div>
            {% endfor %}
            </div>
        </div>
        
        
        <h4 class="subtitle">
            ▸ CALENDARS
        </h4>
        <hr>
        <h4 class="subtitle">
            ▸ UNDATED
        </h4>
        <hr>
        
    </div>
</div>

{% endblock content %}