{% extends 'base.html' %}

{% load custom_filters %}
{% load static %}


{% block content %}
<!--↑ ↓ → -->
<div class="calendar-page-container">
    <div id="app" class="calendar-left-container">
        <script>
            const staticPath = "{% static 'assets/icons/calendar.png' %}";
            document.getElementById("app").innerHTML = `
            <header>
                <div class="calendar-header-container">
                    <div class="calendar-left-header-container">
                        <button class="btn-calendar">
                            <h3> hepiuf</h3>
                        </button>
                        <div class="seek-buttons-container">
                            <button class="btn-seek">
                                <h4>←<h4>
                            </button>
                            <button class="btn-seek">
                                <h4>→<h4>
                            </button>
                        </div>
                        <div style="display: flex; align-items: center;">
                            <button id="btn-toggle-date-search" class="btn-toggle-date-search" onclick="toggleDateSearchForm()">
                                <h3 style="text-decoration: underline; margin: 0; padding: 0; font-size: 18px; font-weight: 400;">
                                    Month Year
                                </h3>
                            </button>
                        </div>
                        <form id="date-search-form" class="date-search-form">
                            <input date-form="search" type="text" id="search" name="search">

                            </input>
                            <button date-form="calendar" id="calendar" name="calendar">
                                <img class="icon-image" src="${staticPath}"></img>
                            </button>
                        </form>
                    </div>
                    <div class="calendar-right-header-container">
                        <div class="view-buttons-container">
                            <button id="week" calendar-tab="week" onclick="toggleCalendarType('week')" class="btn-calendar btn-calendar-left">
                                Week
                            </button>
                            <button id="month" calendar-tab="month" onclick="toggleCalendarType('month')" class="btn-calendar calendar-tab-active">
                                Month
                            </button>
                            <button id="agenda" calendar-tab="agenda" onclick="toggleCalendarType('agenda')" class="btn-calendar btn-calendar-right">
                                Agenda
                            </button>
                        </div>
                        <button class="btn-calendar btn-plus">
                            <h2>+</h2>
                        </button>
                        
                    </div>
                </div>
                <hr>
            </header>
            <div id="calendarheader" class="calendar-grid-header-container">
            </div>
            <div id="mycalendar" class="calendar-grid-container">

            </div>
            `;
        </script>
        <script src="{% static 'js/index-bundle.js' %}"></script>
    
    </div>
    
    <div class="calendar-right-container">
        
        <div class="mini-calendar-container">
            <div class="mini-calendar-seek-container">
                <button style="background-color: transparent; border: none;">
                    <h2><b>&lt;</b></h2>
                </button>
                <h4 style="color: rgb(53,53,53);"><b>Month Year</b></h4>
                <button style="background-color: transparent; border: none;">
                    <h2><b>&gt;</b></h2>
                </button>
            </div>
            <div class="mini-calendar-grid-container">
                {% for i in 35|get_range %}
                <div class="mini-calendar-grid-item">
                    <h4 style="font-weight: 400;">{{i}}</h4>
                </div>
            {% endfor %}
            </div>
        </div>
        
        
        <h4 class="subtitle">
            ▸ CALENDARS
        </h4>
        <hr>
        <h4 class="subtitle">
            ▸ UNDATED
        </h4>
        <hr>
        
    </div>
</div>

{% endblock content %}