<div class="main-navbar">
    <ul>
        <li>
            <a
                routerLink="/courses" 
                routerLinkActive="active" 
                ariaCurrentWhenActive="page">
                <mat-icon fontIcon="home" style="color: white;"></mat-icon>
            </a>
        </li>
        <li>
            <mat-icon fontIcon="person" style="color: white;"></mat-icon>
        </li>
        <li>
            <mat-icon fontIcon="dashboard" style="color: white;"></mat-icon>
        </li>
        <li>
            <mat-icon fontIcon="book" style="color: white;"></mat-icon>
        </li>
        <li>
            <mat-icon fontIcon="people" style="color: white;"></mat-icon>
        </li>
        <li>
            <mat-icon fontIcon="event" style="color: white;"></mat-icon>
        </li>
        <li>
            <mat-icon fontIcon="mail" style="color: white;"></mat-icon>
        </li>
        <li>
            <mat-icon fontIcon="schedule" style="color: white;"></mat-icon>
        </li>
        <li>
            <mat-icon fontIcon="help" style="color: white;"></mat-icon>
        </li>
    </ul>
</div>
<header>
    <h2>{{ title }}</h2>
</header>