*,
*::before,
*::after {
  box-sizing: border-box;
}


/*Font stuff*/
p,h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    line-height: 1;
}


h1 {
    font-size: 36px;
}

a {
    text-decoration: none;
    color: rgb(33, 32, 32);
}

ul {
    list-style-type: none;
}

body {
    min-height: 100vh;
}



/* Dividers */
hr {
    height: 1px;
    max-height: 1px;
    font-weight: 1px;
    border: none;
    background-color: rgb(193, 193, 193);
    max-width: 100%;
}

.pad-0 {
    padding: 0;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-left-15 {
    padding-left: 15px;
}

.pad-left-10 {
    padding-left: 10px;
}

.pad-bottom-10 {
    padding-bottom: 10px;
}

.marg-0 {
    margin: 0;
}

.d-inline {
    display: inline-block;
}

/* main container */
.container-wrapper {
    display: flex;
}

/* Navigation bar */
.navbar-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 56px;
    background-color: rgb(0, 48, 132);
    text-align: center;
    z-index: 1;
}

.navbar {
    max-height: 100%;
    z-index: 1;
}

.nav-top {
    padding-top: 10px;
}

.nav-item-top {
    margin-top: 10px;
}

.bottom-item {
    margin-top: auto;
}

/* header */
header {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    font-weight: 200;
    max-height: 100px;
    
}

.title-container {
    display: flex;
    justify-content: space-between;
    width: 71vw;
}

.btn-3-dot {
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: bolder;
    color: rgb(32, 32, 32);
}

/*Todo section*/
.todo-container {
    width: 18vw;
    max-height: 100px;
    margin-left: 2vw;
    z-index: 1;
}

.subtitle {
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: 12px;
    display: block;
}

.subtitle-0 {
    margin: 0;
    padding: 0;
}

.subtitle-light {
    font-weight: 300;
}

.subtitle-light-0 {
    font-weight: 300;
    margin-top: 10px;
    padding: 0;
}

.subtitle-lg {
    margin-top: 0;
    font-size: 24px;
}

.info-text {
    font-weight: 400;
    font-size: 14px;
}

.btn-view-grades {
    border: solid;
    border-color: rgb(191, 198, 202);
    border-width: 1px;
    border-radius: 2.5%;
    background-color: rgb(243, 243, 243);
    margin-top: 20px;
    width: 100%;
    text-align: left;
    height: 40px;
    color: rgb(60, 72, 80);
}

.btn-font {
    font-weight: 300;
    padding-left: 10px;
}


/* Grades page */
.page-header {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.grades-container {
    width: 94vw;
}

.courses-label {
    font-weight: 400;
    font-size: 28px;
}

.class-container {
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    width: 60vw;
}

.class-list-item {
    width: 60vw;
}

.grade-text {
    font-weight: 600;
}


/* main class tiles stuff */
.class-tiles-container {
    display: flex;
    padding-left: 20px;
    gap: 40px;
    z-index: 1;
    max-width: 75vw;
    position: absolute;
}

.class-tile {
    height: 256px;
    width: 248px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(167, 167, 167);
    position: relative;
}

.text-white {
    color: white;
}

.btn-class-tile {
    padding-top: 5px;
    padding-left: 230px;
    padding-bottom: 100px;
    background-image: linear-gradient(rgb(184, 26, 26),rgb(41, 165, 115));
}

.class-tile-text {
    padding-left: 15px;
    font-size: 15px;
}

.main-class-text {
    padding-top: 10px;
    font-weight: 500;
}

.sub-class-text {
    padding-top: 5px;
    font-weight: 300;
}

.term-text {
    padding-top: 3px;
    padding-left: 2px;
    font-size: 12px;
}

.text-gray {
    color: gray;
}

.icon-image {
    height: 20px;
}

.icon-image-h3 {
    height: 18.72px;
}

.icon-image-lg {
    height: 28px;
}

.icon-image-xl {
    height: 72px;
}

.icon-image-meter {
    height: 20px;
    padding-left: 4px;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.class-tile-icons {
    padding-top: 20px;
    padding-left: 15px;
    justify-content: space-between;
    letter-spacing: 30px;
}

/* User Menu */
.user-menu {
    width: 400px;
    height: 100vh;
    text-align: left;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 48px;
    z-index: 999;
    background-color: white;
    box-shadow: 0 2px 4px rgb(167, 167, 167);
    position: absolute;
}

#user {
    visibility: hidden;
}

#user.active {
    visibility: visible;
}

.user-info-container {
    max-width: 100%;
    align-items: center;
    text-align: center;
    display: block;
    z-index: 999;
    justify-content: center;
}

.user-name-text {
    font-weight: 700;
    font-size: 20px;
    z-index: 999;
}

.btn-logout {
    max-width: 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    border-radius: 7%;
}

.logout-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submenu-text {
    line-height: 2;
}

.submenu-text-sm {
    line-height: 1.5;
}

.x-button-container {
    display: flex;
    padding-top: 10px;
    justify-content: right;
    align-items: right;
    position: relative;
}

.btn-x {
    background-color: transparent;
    border: none;
}

/*Courses Menu*/

#courses {
    visibility: hidden;
}

#courses.active {
    visibility: visible;
}

.course-container {
    padding-top: 10px;
}

.submenu-para {
    padding-top: 40px;
    font-weight: 500;
}

.course-container-bottom {
    padding-bottom: 10px;
}

/*Groups Menu*/
#groups {
    visibility: hidden;
}

#groups.active {
    visibility: visible;
}

/*History Menu */
#history {
    visibility: hidden;
}

#history.active {
    visibility: visible;
}

/*Help Menu */
#help {
    visibility: hidden;
}

#help.active {
    visibility: visible;
}

.course-page-container {
    width: 94vw;
    height: 100%;
}

/* Course page */
.course-title-container {
    display: flex;
    width: 100%;
}

.btn-3-line {
    font-size: 36px;
    background-color: transparent;
    border: none;
    color: rgb(55, 100, 164);
    font-stretch: extra-expanded;
    font-weight: 100;
}

.course-header {
    padding-left: 20px;
}

.class-tabs-menu {
    max-height: 100%;
    width: 200px;
    margin-left: 35px;
}

.term-text-italic {
    font-style: italic;
    font-size: 11px;
    padding-left: 10px;
    font-weight: 400;
}

.tabs-text {
    font-weight: 400;
    padding-top: 20px;
    font-size: 16px;
    color: rgb(0, 48, 132);
}

.btn-tab {
    display: block;
    background-color: transparent;
    border: none;
}

.btn-tab:hover {
    text-decoration: underline;
    cursor: pointer;
}

.under-header-container {
    padding-top: 0;
    display: flex;
    width: 94vw;
}


/*Announcements */

.middle-section {
    width: 52vw;
}

.announcements-header {
    padding-left: 0;
    font-size: 38px;
    font-weight: 300;
    padding-bottom: 10px;
}

.announcement-container {
    display: flex;
    max-height: 100px;
    width: 52vw;
    align-items: center;
}

.announcement-text-main-container {
    justify-content: space-between;
    display: flex;
    gap: 10vw;
    padding: 0;
    margin: 0;
    max-height: 100%;
    width: 52vw;
}

.announcement-text-container {
    width: 75%;
}

.announcement-date-container {
    width: 25%;
    padding-top: 25px;
    text-align: right;
}

.date-text {
    font-weight: bold;
}

.pad-right-15 {
    padding-right: 15px;
}

.fs-10 {
    height: 42px;
}

/*Rightside buttons*/

.btn-course-stream {
    margin-top: 0;
}

.todo-course-container {
    justify-content: space-between;
    padding-left: 15px;
}

.btn-course-calendar {
    margin-top: 5px;
}

.button-container {
    display: flex;
    text-align: center;
    gap: 5px;
}

.fw-400 {
    font-weight: 400;
}

/*Class Content Dynamic*/

#home-content {
    visibility: hidden;
    display: none;
}

#home-content.active {
    visibility: visible;
    display: flex;
}

.home-section {
    display: flex;
    width: 100vw - 200px;
    z-index: 3;
}

#announcement-content {
    visibility: hidden;
    display: none;
}

#announcement-content.active {
    visibility: visible;
    display: block;
}

#modules-content {
    visibility: hidden;
    display: none;
}

#modules-content.active {
    visibility: visible;
    display: block;
}

.announcement-section {
    width: 76vw;
    z-index: 4;
}

.search-container {
    height: 40px;
    width: 76vw;
    gap: 1vw;
    display: flex;
    margin-bottom: 75px;
}

.announcement-filter-selector {
    background-color: transparent;
    border: solid;
    border-radius: 2.5%;
    border-width: 1px;
    border-color: rgb(191, 198, 202);
    width: 35vw;
}

.announcement-search {
    width: 40vw;
    border: solid;
    border-radius: 2.5%;
    border-width: 1px;
    border-color: rgb(191, 198, 202);
}

.announcement-text-main-container-xl {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* gap: 0; */
}

.marg-top-20 {
    margin-top: 20px;
}

/* modules stuff */
.modules-section {
    width: 76vw;
    z-index: 5;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modules-buttons-container {
    height: 38px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.modules-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.module-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    margin-top: 20px;
}

.module-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    vertical-align: middle;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(243, 243, 243);
    border: 1px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
}

.btn-modules {
    margin: 0;
    padding: 0;
    border: solid;
    border-color: rgb(191, 198, 202);
    border-width: 1px;
    border-radius: 2.5%;
    background-color: rgb(243, 243, 243);
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 38px;
    color: rgb(60, 72, 80);
    vertical-align: middle;
}

.btn-modules-export {
    width: 200px;
}

.button-inner-content {
    display: flex;
}

.module-header-text {
    padding-left: 10px;
    font-weight: 600;
    color: rgb(23,23,23);
}

.module-body-text {
    padding-left: 10px;
    color: rgb(23,23,23);
    font-weight: 600;
}

.module-content-1 {
    display: flex;
    height: 50px;
    vertical-align: middle;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
}

/* Student Registration */
.student-registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
}

.registration-title {
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-element {
    margin-top: 10px;
}

.student-form {
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.btn-register {
    margin-top: 15px;
    width: 100%;
}

.field-label {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}


.module-section-page-container {
    width: 100vw - 200px;
}

#module-section-page-content {
    visibility: hidden;
    display: none;
}

#module-section-page-content.active {
    visibility: visible;
    display: flex;
    flex-direction: row;
}

.m-section-page-header {
    font-size: 72px;
}

.btn-module-section {
    height: 100%;
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.btn-module-section:hover {
    text-decoration: underline;
    cursor: pointer;
}

.m-section-page-header {
    font-size: 32px;
    font-weight: 400;
}

.m-section-page-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn-new-attempt {
    background-color: rgb(1, 28, 77);
    color: white;
    border: solid;
    border-width: 1px;
    border-radius: 3.25%;
    height: 100%;
}

.btn-new-attempt-text {
    margin: 10px;
    font-size: 16px;
}

.module-section-middle-content {
   flex-direction: column;
   width: 56vw;
}

.submission-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.submission-info-sub-container {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.submission-info-text {
    display: flex;
}

.fw-500 {
    font-weight: 500;
}

.assignment-info-container {
    margin-top: 25px;
    width: 100%;
}

#assignments-content {
    visibility: hidden;
    display: none;
}

#assignments-content.active {
    visibility: visible;
    display: block;
}

.assignments-section {
    width: 76vw;
}

.assignments-buttons-container {
    height: 38px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.show-by-buttons-container {
    display: flex;
    flex-direction: row;
}

.btn-show-by {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.search-assignment-box {
    border: solid;
    border-color: rgb(204, 204, 204);
    border-width: 1px;
    padding-left: 10px;
    width: 200px;
}

.assignments-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}


.assignment-content {
    display: flex;
    flex-direction: row;
    height: 50px;
    vertical-align: middle;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
}

.assignment-section-page-container {
    width: 100vw - 200px;
    visibility: hidden;
}

#assignment-section-page-content {
    visibility: hidden;
    display: none;
}

#assignment-section-page-content.active {
    visibility: visible;
    display: flex;
    flex-direction: row;
}
