<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap" rel="stylesheet">
    
    <script src="{% static 'js/script.js' %}"></script>
    <title>Canvas Clone</title>
</head>
<body class="pad-0 marg-0">

    <div class="container-wrapper">
        <!--Navigation-->
        <div class="navbar-container">
            <ul class="pad-0 pad-top-10 marg-0 navbar">
                <li>
                    <a href="{% url 'home' %}">
                        <img src="{% static 'assets/icons/pitt-shield.png' %}" height="50px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <button class="nav-button" onclick="togglePopup('user')">
                        <img class="icon-image-lg" src="{% static 'assets/icons/person.png' %}" height="36px">
                    </button>
                </li>
                <li class="nav-item-top">
                    <a href="{% url 'home' %}">
                        <img class="icon-image-meter icon-image-lg" src="{% static 'assets/icons/meter.png' %}" height="36px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <button class="nav-button" onclick="togglePopup('courses')">
                        <img class="icon-image-lg" src="{% static 'assets/icons/book.png' %}" height="36px">
                    </button>
                </li>
                <li class="nav-item-top">
                    <button class="nav-button" onclick="togglePopup('groups')">
                        <img class="icon-image-meter" src="{% static 'assets/icons/people.png' %}" height="36px">
                    </button>
                </li>
                <li class="nav-item-top">
                    <a href="https://www.w3schools.com">
                        <img class="icon-image-lg" src="{% static 'assets/icons/calendar.png' %}" height="36px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <a href="https://www.w3schools.com">
                        <img class="icon-image-lg" src="{% static 'assets/icons/mail.png' %}" height="36px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <button class="nav-button" onclick="togglePopup('history')">
                        <img class="icon-image-lg" src="{% static 'assets/icons/clock.png' %}" height="36px">
                    </button>
                </li>
                <li class="nav-item-top">
                    <button class="nav-button" onclick="togglePopup('help')">
                        <img class="icon-image-lg" src="{% static 'assets/icons/question.png' %}" height="36px">
                    </button>
                </li>
                
            </ul>
            <div class="bottom-item">
                <li>
                    <a href="https://www.w3schools.com">
                        <img src="{% static 'assets/icons/arrow.png' %}" height="36px">
                    </a>
                </li>
            </div>
        </div>

        <!--Pop-up Menus-->
        <div id="user" class="user-menu" data-menu="user">
            <div class="x-button-container">
                <button class="btn-x" href="#" onclick="togglePopup('user')">X</button>
            </div>
            <div class="user-info-container">
                <img class="icon-image-xl" src="{% static 'assets/icons/placeholder-pf-pic.png' %}">
                <h3 class="user-name-text">Shelby Wilson</h3>
                <button class="btn-view-grades btn-logout">
                    Logout
                </button>
            </div>
            <div>

            </div>
            <hr>
            <h4 class="submenu-text">Notifications</h4>
            <h4 class="submenu-text">Profile</h4>
            <h4 class="submenu-text">Files</h4>
            <h4 class="submenu-text">Settings</h4>
            <h4 class="submenu-text">ePortfolios</h4>
            <h4 class="submenu-text">OMET Surveys</h4>
            <h4 class="submenu-text">NameCoach</h4>
            <h4 class="submenu-text">QR for Mobile Login</h4>
            <h4 class="submenu-text">Global Announcements</h4>
            <h4 class="submenu-text"></h4>
            <hr>

        </div>

        <div id="courses" class="user-menu" data-menu="courses">
            <div class="x-button-container">
                <button class="btn-x" href="#" onclick="togglePopup('courses')">X</button>
            </div>
            <h3 class="subtitle subtitle-lg">Courses</h3>
            <hr>
            <div>
                {% for course in student_courses %}
                    <div class="course-container">
                        <h4 class="submenu-text-sm">{{course.course_id}} {{course.course_section_id}}</h4>
                        <h4 class="text-gray term-text">Summer Term 2022-2023</h4>
                    </div>
                {% endfor %}
                <hr>
                <h4 class="submenu-text-sm">All Courses</h4>
                
                <h4 class="submenu-text-sm submenu-para">Welcome to your courses! To customize the list of courses, click on the "All Courses" link and star the courses to display.</h4>
            </div>
        </div>

        <div id="groups" class="user-menu" data-menu="groups">
            <div class="x-button-container">
                <button class="btn-x" href="#" onclick="togglePopup('groups')">X</button>
            </div>
            <h3 class="subtitle subtitle-lg">Groups</h3>
            <hr>
            <h4 class="submenu-text">Sample Group 1</h4>
            <h4 class="submenu-text">Sample Group 2</h4>
            <h4 class="submenu-text">Sample Group 3</h4>
            <h4 class="submenu-text">Sample Group 4</h4>
            <hr>
            <h4 class="submenu-text">Sample Group 4</h4>
        </div>

        <div id="history" class="user-menu" data-menu="history">
            <div class="x-button-container">
                <button class="btn-x" href="#" onclick="togglePopup('history')">X</button>
            </div>
            <h3 class="subtitle subtitle-lg">History</h3>
            <hr>
            <h4 class="submenu-text">Sample Group 1</h4>
            <h4 class="submenu-text">Sample Group 2</h4>
            <h4 class="submenu-text">Sample Group 3</h4>
            <h4 class="submenu-text">Sample Group 4</h4>
            <hr>
            <h4 class="submenu-text">Sample Group 4</h4>
        </div>

        <div id="help" class="user-menu" data-menu="help">
            <div class="x-button-container">
                <button class="btn-x" href="#" onclick="togglePopup('help')">X</button>
            </div>
            <h3 class="subtitle subtitle-lg">Help</h3>
            <hr>
            <h4 class="submenu-text">Sample Group 1</h4>
            <h4 class="submenu-text">Sample Group 2</h4>
            <h4 class="submenu-text">Sample Group 3</h4>
            <h4 class="submenu-text">Sample Group 4</h4>
            <hr>
            <h4 class="submenu-text">Sample Group 4</h4>
        </div>


        {% block content %}

        {% endblock content %}
    </div>
    
</body>
</html>