<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap" rel="stylesheet">
    
    <!--<script src="script.js"></script>-->
    <title>Canvas Clone</title>
</head>
<body class="pad-0 marg-0">

    <div class="container-wrapper">
        <!--Navigation-->
        <div class="navbar-container">
            <ul class="pad-0 pad-top-10 marg-0 navbar">
                <li>
                    <a href="index.html">
                        <img src="{% static 'assets/icons/pitt-shield.png' %}" height="50px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <a href="#" onclick="toggleUserMenu()">
                        <img class="icon-image-lg" src="{% static 'assets/icons/person.png' %}" height="36px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <a href="index.html">
                        <img class="icon-image-meter icon-image-lg" src="{% static 'assets/icons/meter.png' %}" height="36px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <a href="#" onclick="toggleCoursesMenu()">
                        <img class="icon-image-lg" src="{% static 'assets/icons/book.png' %}" height="36px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <a href="#" onclick="toggleGroupsMenu()">
                        <img class="icon-image-meter" src="{% static 'assets/icons/people.png' %}" height="36px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <a href="https://www.w3schools.com">
                        <img class="icon-image-lg" src="{% static 'assets/icons/calendar.png' %}" height="36px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <a href="https://www.w3schools.com">
                        <img class="icon-image-lg" src="{% static 'assets/icons/mail.png' %}" height="36px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <a href="#" onclick="toggleHistoryMenu()">
                        <img class="icon-image-lg" src="{% static 'assets/icons/clock.png' %}" height="36px">
                    </a>
                </li>
                <li class="nav-item-top">
                    <a href="#" onclick="toggleHelpMenu()">
                        <img class="icon-image-lg" src="{% static 'assets/icons/question.png' %}" height="36px">
                    </a>
                </li>
                
            </ul>
            <div class="bottom-item">
                <li>
                    <a href="https://www.w3schools.com">
                        <img src="{% static 'assets/icons/arrow.png' %}" height="36px">
                    </a>
                </li>
            </div>
        </div>

        {% block content %}

        {% endblock content %}
    </div>
    
</body>
</html>