{% load static %}

<form id="myevent" event-type-tab="myevent" class="calendar-event-form active" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="label-input-container">
        <label for="title"><b>Title</b></label><br>
        {{ calendar_event_form.title }}
    </div>
    <div class="label-input-container">
        <label for="date"><b>Date</b></label><br>
        {{ calendar_event_form.date }}
    </div>
    <div class="event-from-to-container">
        <div class="label-input-container">
            <label for="from-time"><b>From</b></label>
            <div id="id_from_time-container" class="input-dropdown-container">
                {{ calendar_event_form.from_time }}
                <button type="button" class="btn-time-dd">⌵</button>
                <ol id="id_from_time-dd" class="time-dd">
                    <!--filled w/ js-->
                    <li class="test"> test</li>
                </ol>
            </div>
        </div>
        <div class="label-input-container">
            <label for="to-time"><b>To</b></label>
            <div id="id_to_time-container"  class="input-dropdown-container">
                
                {{ calendar_event_form.to_time }}
                <button type="button" class="btn-time-dd">⌵</button>
                <ol id="id_to_time-dd" class="time-dd">
                    <!--filled w/ js-->
                </ol>
            </div>
        </div>
    </div>
    <label for="event-frequency"><b>Frequency</b></label></br>
    {{ calendar_event_form.frequency }}
    <label for="event-location"><b>Location</b></label></br>
    {{ calendar_event_form.location }}
    <label for="event-calendar"><b>Calendar</b></label></br>
    <select style="height: 36px; background-color: #fff; border: solid 1px rgb(200,200,200); border-radius: 5px;" id="event-calendar" name="event-calendar">
        <option value="user">{{request.user}}</option>
    </select><br>
    <div class="calendar-event-buttons-container">
        <input class="btn-more-options" type="button" value="More Options">
        <input class="btn-submit" type="submit" value="Submit">
    </div>
</form>