{% load static %}

<div class="class-tile">
    <button class="btn-class-tile text-white btn-3-dot">
        ⋮
    </button>
    <a href="{% url 'sampleclass' course_id=value.course_id %}"><!--link to specific course page here-->
        <div class="class-tile-text">
            <p class="main-class-text">{{value.course_id}}</p>
            <p class="sub-class-text">{{value.course_section_id}}</p>
            <p class="term-text">Term</p>
        </div>
    </a>
    <div class="class-tile-icons">
        <a href="{% url 'announcements' course_id=value.course_id %}" class="btn-transparent">
            <img class="icon-image" src="{% static 'assets/icons/alarm.png' %}">
        </a>
        <button class="btn-transparent">
            <img class="icon-image" src="{% static 'assets/icons/assignments.png' %}">
        </button>
    </div>
</div>