{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="grades-container">
    <header>
        <div class="title-container">
            <h3 class="page-header">
                Shelby Wilson > Grades
            </h3>
        </div>
        <hr>   
    </header>
    <h1 class="pad-left-15 courses-label">
        Courses I'm Taking
    </h1> 
    <ul>
        <li class="class-list-item">
            <div class="class-container">
                <h3 class="class-text">1234 SAMPLE CLASS SEC1234 CLASS CLASS</h3>
                <h3 class="grade-text">100%</h3>
            </div>
            <hr>
        </li>
        <li class="class-list-item">
            <div class="class-container">
                <h3 class="class-text">1234 SAMPLE CLASS SEC1234 CLASS CLASS</h3>
                <h3 class="grade-text">100%</h3>
            </div>
            <hr>
        </li>
    </ul>
</div>

{% endblock content %}