{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="grades-container">
    <header>
        <div class="title-container">
            <h3 class="page-header">
                Shelby Wilson > Grades
            </h3>
        </div>
        <hr>   
    </header>
    <h1 class="pad-left-15 courses-label">
        Courses I'm Taking
    </h1> 
    <ul>
        {% for student_grade in student_grades %}
            {% include 'grades/snippets/student_grade_snippet.html' with value=student_grade %}
        {% endfor %}
    </ul>
</div>

{% endblock content %}