{% load static %}
<div class="student-grade-container">
    <div class="col-lg">
        <a href="{% url 'assignment_detail' course_id=course.course_title  assignment_id=grade.assignment_id%}"><h5 class="assignment-grade-text assignment-link">{{grade.assignment_id}}</h5></a>
        <h6 class="assignment-subtext">Assignments</h6>
    </div>
    <div class="col-lg">
        <h5 class="assignment-grade-text">{{grade.assignment_id.due_date|date:"M d"}} at {{grade.assignment_id.due_time}}</h5><!--okay, so date filter, M for str rep and m for num rep. same for D,d-->
    </div>
    <div class="col-sm">
        <h5 class="assignment-grade-text">      </h5>
    </div>
    <div class="col-lg">
        <h5 class="assignment-grade-text">{{grade.grade|floatformat:0}} / 100</h5>
    </div>
</div>
<hr>
