{% load static %}

<div id="home-content" class="home-section">
    <div class="middle-section">
        <div id="home-middle">
            <h1 class="announcements-header">Recent Announcements</h1>
            <hr>

            {% for announcement in announcements %}
                {% include 'sampleclass/snippets/home_announcement_snippet.html' with value=announcement %}
            {% endfor %}
            

            <h2 class="pad-top-10"><b>Welcome to CLASS CLASS SEC1234</b></h2>
        </div>
    </div>
    <div class="todo-course-container todo-container">

        <button class="btn-view-grades btn-course-stream">
            <div class="button-container">
                <img class="pad-left-10 icon-image" src="{% static 'assets/icons/bars.png' %}">
                <h3>View Course Stream</h3>
            </div>
        </button>
        <button class="btn-view-grades btn-course-calendar">
            <div class="button-container">
                <img class="pad-left-10 icon-image" src="{% static 'assets/icons/date.png' %}">
                <h3>View Course Calendar</h3>
            </div>
        </button>
        <button class="btn-view-grades btn-course-calendar">
            <div class="button-container">
                <img class="pad-left-10 icon-image" src="{% static 'assets/icons/bell.png' %}">
                <h3>View Course Notifications</h3>
            </div>
        </button>

        <div>
            <h4 class="subtitle">To Do</h4>
            <hr>
            <h5 class="info-text">Nothing for now</h5>
            <h4 class="subtitle">Course Groups</h4>
            <hr>
            <h4 class="submenu-text">Team 1</h4>
            <h4 class="subtitle">Recent Feedback</h4>
            <hr>
            <h4 class="term-text">Nothing for now</h4>
        </div>
    </div>
</div>