{% load static %}

<div class="announcement-container">
    <img class="icon-image-lg pad-right-15 fs-10" src="{% static 'assets/icons/profile-pic.png' %}">
    <div class="announcement-text-main-container">
        <div class="announcement-text-container">
            <h4 class="subtitle subtitle-0">{{value.announcement_title}}</h4>
            <h4 class="subtitle subtitle-light-0">{{value.announcement_text}}</h4>
        </div>
        <div class="announcement-date-container">
            <h5 class="date-text">Posted on:</h5>
            <h5 class="pad-top-10">{{value.announcement_date}}</h5>
        </div>
    </div>
</div>
<hr>