{% load static %}
<div id="module-section-page-content" class="module-section-page-container">
    <div class="module-section-middle-content">
        <div class="m-section-page-header-container">
            <h1 class="m-section-page-header">Assignment Name</h1>
            <button class="btn-new-attempt">
                <h4 class="btn-new-attempt-text">
                    New Attempt
                </h4>
            </button>
        </div>
        <hr>
        <div class="submission-info-container">
            <div class="submission-info-sub-container">
                <h4 class="submission-info-text fw-500">Due</h4>
                <h4 class="submission-info-text">Aug 5 by 11:59pm</h4>
            </div>
            <div class="submission-info-sub-container">
                <h4 class="submission-info-text fw-500">Points</h4>
                <h4 class="submission-info-text">100</h4>
            </div>
            <div class="submission-info-sub-container">
                <h4 class="submission-info-text fw-500">Submitting</h4>
                <h4 class="submission-info-text">a file upload</h4>
            </div>
        </div>
        <hr>
    </div>
    <div class="todo-container">
        <h4><b>Submission</b></h4>
        <hr>
    </div>
</div>