{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="student-registration-container">
    <h3 class="registration-title">Login below.</h3>
    <form class="student-form" method="post">{% csrf_token %}
    {% for field in login_form %}
        
    <div class="form-element">
        <h3 class="field-label">{{field.label_tag}}</h3>
        {{field}}
    </div>
        {% comment %} 
        {% if field.help_text %}
        
        {% endif%} {% endcomment %}

        {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
        {% endfor %}

        {% if login_form.non_field_errors %}
            <div style="color: red;">
                <p>{{error}}</p>
            </div>
        {% endif %}
    
    {% endfor%}
    <button class="btn-register" type="submit">Login</button>

    </form>
</div>


{% endblock content %}