{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="student-registration-container">
    <h2 class="registration-title">Register</h2>
    <form class="student-form" method="post">{% csrf_token %}
    {% for field in registration_form %}

        <h2>{{field.label_tag}}</h2>
        {{field}}
        {% comment %} 
        {% if field.help_text %}
        
        {% endif%} {% endcomment %}

        {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
        {% endfor %}
    
    {% endfor%}
    <button type="submit">Register</button>

    </form>
</div>


{% endblock content %}