{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="student-registration-container">
    <h3 class="registration-title">Register for a student account below.</h3>
    <form class="student-form" method="post">{% csrf_token %}
    {% for field in registration_form %}
        
    <div class="form-element">
        <h3 class="field-label">{{field.label_tag}}</h3>
        {{field}}
    </div>
        {% comment %} 
        {% if field.help_text %}
        
        {% endif%} {% endcomment %}

        {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
        {% endfor %}
    
    {% endfor%}
    <button class="btn-register" type="submit">Register</button>

    </form>
</div>


{% endblock content %}