{% extends 'sampleclass/sample_class.html' %}

{% load static %}

{% block course_middle %}

<div class="announcement-section">
    <div class="search-container">
        <select class="announcement-filter-selector">
            <option value="filter-all">Test</option>
            <option value="filter-all">Test</option>
        </select>
        <input class="announcement-search" type="text" placeholder="Search">
    </div>
    <hr>
    {% for announcement in announcements %}
        {% include 'sampleclass/snippets/announcement_snippet.html' with value=announcement %}
    {% endfor %}
</div>

{% endblock course_middle %}