{% extends 'sampleclass/sample_class.html' %}

{% load static %}

{% block course_middle %}

{% if user.is_authenticated %}
<div class="course-grades-page">
    <div class="course-grades-container">
        <div class="grades-header-container">
            <h2 class="grades-header-font"><b>Grades for {{user.firstname}} {{user.lastname}}</b></h2>
            <button class="btn-main btn-modules">
                <div class="button-inner-content">
                    <img class="icon-image-h3" src="{% static 'assets/icons/printer.png' %}">
                    <h3>Print Grades</h3>
                </div>
            </button>
        </div>
    
        <div class="grade-sort-container">
            <div class="selector-header-container">
                <h5 class="grades-filter-font">Course</h5>
                <h5 class="grades-filter-font">Arrange By</h5>
            </div>
            <div class="filters-container">
                <select class="main-selector">
                    <option value="">Test</option>
                </select>
                <select class="main-selector">
                    <option value="">Test</option>
                </select>
                <button class="btn-apply">
                    <h4>Apply</h4>
                </button>
            </div>
    
    
        </div>
    
        <div class="all-grades-container">
            <div class="all-grades-header">
                <div class="col-lg">
                    <h5 class="grades-filter-font">Name</h5>
                </div>
                <div class="col-lg">
                    <h5 class="grades-filter-font">Due Date</h5>
                </div>
                <div class="col-sm">
                    <h5 class="grades-filter-font">Status</h5>
                </div>
                <div class="col-lg">
                    <h5 class="grades-filter-font">Score</h5>
                </div>
            </div>
            <hr>
            {% for grade in student_grades %}
                {% include 'sampleclass/snippets/assignment_grade_snippet.html' with value=grade %}
            {% endfor %}
        </div>
    </div>

    <div class="todo-container">
        <h3><b>Calculation of totals has been disabled</b></h3>
        <button class="btn-main btn-modules">
            <div class="button-inner-content">
                <h3>Show all Details</h3>
            </div>
        </button>
        <h4><b>Course assignments are not weighted.</b></h4>
        <hr>
        <form>
            <input type="checkbox" id="grades-calc-checkbox" name="grades-calc-checkbox">
            <label for="grades-calc-checkbox"><h4>Calculate based only on graded assignments</h4></label>
        </form>
        <h4>You can view your grades based on What-If scores so that
            you know how grades will be affected by upcoming or resubmitted
            assignments. You can test scores for an assignment that already
            includes a score, or an assignment that has yet to be graded.
        </h4>

        
    </div>
</div>


{% else %}
<h2>No user logged in</h2>
{% endif%}


{% endblock course_middle %}