{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="course-page-container">
    <header>
        <div class="course-title-container">
            <button class="btn-3-line">≡</button>
            <h3 class="page-header course-header">
                {{course_section.course_section_id}} {{course.course_title}}
            </h3>
        </div>
        <hr>   
    </header>
    <div class="under-header-container">
        <div class="class-tabs-menu">
            <h3 class="term-text-italic">Summer Term 2022-2023</h3>
            <a href="{% url 'sampleclass' course_id=course %}">
                <h3 class="tabs-text">Home</h3>
            </a>
            <a href="{% url 'announcements' course_id=course %}">
                <h3 class="tabs-text">Announcements</h3>
            </a>
            <button class="btn-tab">
                <h3 class="tabs-text">Syllabus</h3>
            </button>
            <a href="{% url 'modules' course_id=course %}">
                <h3 class="tabs-text">Modules</h3>
            </a>
            <a href="{% url 'assignments' course_id=course %}">
                <h3 class="tabs-text">Assignments</h3>
            </a>
            <button class="btn-tab">
                <h3 class="tabs-text">Grades</h3>
            </button>
            <button class="btn-tab">
                <h3 class="tabs-text">OMET Surveys</h3>
            </button>
            <button class="btn-tab">
                <h3 class="tabs-text">Library Guides</h3>
            </button>
            <button class="btn-tab">
                <h3 class="tabs-text">Gradescope</h3>
            </button>
            <button class="btn-tab">
                <h3 class="tabs-text">People</h3>
            </button>
        </div>

        {% block course_middle %}
        <div class="home-section">
            <div class="middle-section">
                <div id="home-middle">
                    <h1 class="announcements-header">Recent Announcements</h1>
                    <hr>
        
                    {% for announcement in announcements %}
                        {% include 'sampleclass/snippets/home_announcement_snippet.html' with value=announcement %}
                    {% endfor %}
                    
        
                    <h2 class="pad-top-10"><b>Welcome to CLASS CLASS SEC1234</b></h2>
                </div>
            </div>
            <div class="todo-course-container todo-container">
        
                <button class="btn-view-grades btn-course-stream">
                    <div class="button-container">
                        <img class="pad-left-10 icon-image" src="{% static 'assets/icons/bars.png' %}">
                        <h3>View Course Stream</h3>
                    </div>
                </button>
                <button class="btn-view-grades btn-course-calendar">
                    <div class="button-container">
                        <img class="pad-left-10 icon-image" src="{% static 'assets/icons/date.png' %}">
                        <h3>View Course Calendar</h3>
                    </div>
                </button>
                <button class="btn-view-grades btn-course-calendar">
                    <div class="button-container">
                        <img class="pad-left-10 icon-image" src="{% static 'assets/icons/bell.png' %}">
                        <h3>View Course Notifications</h3>
                    </div>
                </button>
        
                <div>
                    <h4 class="subtitle">To Do</h4>
                    <hr>
                    <h5 class="info-text">Nothing for now</h5>
                    <h4 class="subtitle">Course Groups</h4>
                    <hr>
                    <h4 class="submenu-text">Team 1</h4>
                    <h4 class="subtitle">Recent Feedback</h4>
                    <hr>
                    <h4 class="term-text">Nothing for now</h4>
                </div>
            </div>
        </div>
        {% endblock course_middle %}

    </div>
    
</div>

{% endblock content %}