{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="course-page-container">
    <header>
        <div class="course-title-container">
            <button class="btn-3-line">≡</button>
            <h3 class="page-header course-header">
                {{course_section.course_section_id}} {{course.course_title}}
            </h3>
        </div>
        <hr>   
    </header>
    <div class="under-header-container">
        <div class="class-tabs-menu">
            <h3 class="term-text-italic">Summer Term 2022-2023</h3>
            <button class="btn-tab" id="btn-home" onclick="toggleClassContent('btn-home')">
                <h3 class="tabs-text">Home</h3>
            </button>
            <button class="btn-tab" id="btn-announcement" onclick="toggleClassContent('btn-announcement')">
                <h3 class="tabs-text">Announcements</h3>
            </button>
            <button class="btn-tab">
                <h3 class="tabs-text">Syllabus</h3>
            </button>
            <button class="btn-tab" id="btn-modules" onclick="toggleClassContent('btn-modules')">
                <h3 class="tabs-text">Modules</h3>
            </button>
            <button class="btn-tab" id="btn-assignments" onclick="toggleClassContent('btn-assignments')">
                <h3 class="tabs-text">Assignments</h3>
            </button>
            <button class="btn-tab">
                <h3 class="tabs-text">Grades</h3>
            </button>
            <button class="btn-tab">
                <h3 class="tabs-text">OMET Surveys</h3>
            </button>
            <button class="btn-tab">
                <h3 class="tabs-text">Library Guides</h3>
            </button>
            <button class="btn-tab">
                <h3 class="tabs-text">Gradescope</h3>
            </button>
            <button class="btn-tab">
                <h3 class="tabs-text">People</h3>
            </button>
        </div>

        {% include 'sampleclass/snippets/home-content-snippet.html' %}
        {% include 'sampleclass/snippets/announcement-content-snippet.html' %}
        {% include 'sampleclass/snippets/modules-content-snippet.html' %}
        {% include 'sampleclass/snippets/module-section-page-snippet.html' %}

        {% include 'sampleclass/snippets/assignments-content-snippet.html' %}
        {% include 'sampleclass/snippets/assignment-section-page-snippet.html' %}

    </div>
    
</div>

{% endblock content %}